apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  ENVIRONMENT: {{ .Values.backend.config.environment | quote }}
  CORS_ORIGINS: {{ .Values.backend.config.corsOrigins | quote }}
  OPENAI_MODEL: {{ .Values.backend.config.openaiModel | quote }}
  GROQ_MODEL: {{ .Values.backend.config.groqModel | quote }}
